<a h1>Question</h1></a>
<p>Write something usefull</p>

<form action="answer" method="get" >
  <label for="question">Speak to your coach</label>
  <br/>
  <input type="text" id="question" name="question" placeholder="what time is it?">
  <br/>
  <input type="submit" value="Go on!" >

</form>
